body {
  font-family: 'Alegreya', serif;
  background-color: #f1f1f1;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: [left] 50% [right] 50%;
  grid-template-rows: 100%;
}

/* Left-side */

.bg-image {
  background: url("../images/loginpic.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.left-container {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  width: 100%;
  height: 100%;
}

#left-btn {
  background-color: transparent;
  border: 5px solid white;
  border-radius: 20px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  color: white;
  font-size: 20px;
  z-index: 2;
}

.bg-image::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #131313;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  opacity: 0.4;
  position: absolute;
}

/* Right-side */

.right-container {
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  width: 300px;
  height: 400px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 0px 15px 0px 15px;
  box-shadow: 0px 25px 36px 12px rgba(0, 0, 0, 0.51);
}

#form-logo {
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 50%;
  position: relative;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#form-h1 {
  align-self: center;
  margin: -50px 0px 30px;
}

.form input {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  color: black;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #283349;
  outline: none;
}

.form label {
  transform: translateY(-60px);
  pointer-events: none;
}

.email-content, .pass-content {
  position: absolute;
  top: 15px;
  color: black;
  transition: all 0.3s ease;
}

.form input:focus+.email-label .email-content {
  transform: translateX(200px);
  font-size: 25px;
  color: black;
}

.form input:focus+.pass-label .pass-content {
  transform: translateX(200px);
  font-size: 25px;
  color: black;
}

#form-button {
  background: rgb(40, 51, 73);
  background: linear-gradient(
    135deg,
    rgba(40, 51, 73, 1) 28%,
    rgba(34, 34, 34, 1) 100%
  );
  border: none;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0px;
  outline: none;
  cursor: pointer;
}

.valid-credential {
  color: green;
  font-size: 20px;
  font-weight: bold;
}

.invalid-credential {
  color: red;
  font-size: 20px;
  font-weight: bold;
}